@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --col-yellow: hsl(35, 77%, 62%);
  --col-orange: hsl(5, 85%, 63%);
  --col-light: hsl(36, 100%, 99%);
  --col-lightgray: hsl(233, 8%, 79%);
  --col-gray: hsl(236, 13%, 42%);
  --col-dark: hsl(240, 100%, 5%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: var(--col-gray);
}
